Добрый день,

Паспортные данные отправлены из программы Паспорт (iOS).

Владелец:           {last-name} {first-name} {middle-name}
Пол:                {gender}
Дата рождения:      {day-of-birth}
Место рождения:
                    {state}
                    {city}

Номер паспорта:     {passport-series} {passport-number} 

Паспорт выдан:      {place-of-receipt}
Код подразделения:  {subdivision-code}
Дата выдачи:        {date-of-receipt}